<form #registerForm="ngForm" (ngSubmit)="resetPassword()" ngNativeValidate>
  <div class="container  shadow p-3 mb-5 bg-white rounded">
    <div style="text-align: center;  "><br><br>
      <br><br>

      
      <h5 class="shadow-sm p-3 mb-5 rounded" style="background-color: #0b99b9;color: white;">Change password</h5>
      <hr>
      <div class="form-row">
       <!-- <div class="form-group col-md-6">
          <mat-form-field>
            <input type="text" placeholder="Select user from list" aria-label="Number" matInput
              [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="model.username" required>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="GetUserDetails($event.option.value)">
              <mat-option *ngFor="let option of usersist" [value]="option.userName"> {{option.userName}} </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      -->
      <div class="form-group col-md-6">
        <mat-form-field>
          <mat-label>Select user from list</mat-label>
          <mat-select name="users" [(ngModel)]="model.username" required>
            <mat-option *ngFor="let user of userslist" [value]="user" required>{{user}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <div class="form-group col-md-6">
          <mat-form-field>
            <input matInput type="password" placeholder="Current Password" name="currpassword" [(ngModel)]="model.CurrentPassWord"
              required>
          </mat-form-field>
        </div>

        <div class="form-group col-md-6">
          <mat-form-field>
            <input matInput type="password" placeholder="New Password" name="password" [(ngModel)]="model.NewPassWord"
              required>
          </mat-form-field>
        </div>

        <div class="form-group col-md-6">
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" name="ConfirmPwd"
              [(ngModel)]="model.ConfirmPwd" required>
          </mat-form-field>
        </div>

        <div class="form-group col-md-6">
          <button class="btn btn-success mr-4" type="submit"> Submit</button>
          <button class="btn btn-default" type="button" (click)="reloadComponent()"> Cancel</button>
        </div>

      </div>

    </div>
  </div>
</form>