.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
.spacer{
    flex:1 1 auto;
}

 .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .logo {
    
    width: auto;
    padding: 20px;
    display: block;
    margin: 0 auto;
    background:url("src/Images/A91logo.jpg")
     no-repeat center center;
}