
.bg {
    /* The image used */
    background-image: url("src/Images/home.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
  }