<form #registerForm="ngForm" (ngSubmit)="register()" ngNativeValidate>
  <br><br>
  <div class="container  shadow p-3 mb-5 bg-white rounded">
    <div style="text-align: center;  "><br><br>

      
      <h5 class="shadow-sm p-3 mb-5 rounded" style="background-color: #0b99b9;color: white;">New user registration</h5>
      <hr>
      <div class="form-row">
        <!--  <div class="form-group col-md-4">
          <mat-form-field>
            <input matInput placeholder="User Name" name="username" [(ngModel)]="model.username" required>
          </mat-form-field>
        </div> -->
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>User</mat-label>
           <mat-select name="user" [(ngModel)]="model.username" (selectionChange)="GetUserDetails($event.value)" required>
            <mat-option value="New">New</mat-option>
              <mat-option *ngFor="let user of userslist" [value]="user" >{{user}}</mat-option>
            </mat-select>
          </mat-form-field>           
          
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input type="text" placeholder="Username" aria-label="Number" matInput
              [formControl]="myControl"  [(ngModel)]="model.username" (change)="GetUserDetails(model.username)" required>
            
          </mat-form-field>
        </div>


        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select name="Myrole" [(ngModel)]="model.role"  required multiple>          
              
              <mat-option *ngFor="let role of roleslist" [value]="role" required>{{role}}</mat-option>
            </mat-select>
            
          </mat-form-field>
        
         
              </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Company</mat-label>
            <mat-select name="cardCode" [(ngModel)]="model.cardCode">
              <mat-option *ngFor="let bp of bplist" [value]="bp.cardCode">{{bp.cardName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="form-group col-md-4" *ngIf="UserNameValue == 'New'">
          <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="model.password"
              required>
          </mat-form-field>
        </div>

        <div class="form-group col-md-4" *ngIf="UserNameValue == 'New'">
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" name="cpassword"
              [(ngModel)]="model.cpassword" required>
          </mat-form-field>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field>
            <input matInput placeholder="Mobile" name="mobile" [(ngModel)]="model.mobile"  [pattern]="mobNumberPattern" #mobNumber="ngModel" required>
            <mat-error *ngIf="mobNumber.errors" [ngClass] = "'error'">        
        Mobile number is not valid.        
    </mat-error> 
          </mat-form-field>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field>
            <input matInput placeholder="E-mail" name="email" [(ngModel)]="model.email"  [pattern]="emailPattern" #email="ngModel" required>
            <mat-error *ngIf="email.errors" [ngClass] = "'error'">        
              Email is not valid.        
          </mat-error> 
          </mat-form-field>
        </div>






        <div class="form-group col-md-12">
          <button class="btn btn-success mr-4" type="submit"> Register</button>
          <button class="btn btn-default" type="button" (click)="reloadComponent()"> Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>